@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-variant-ligatures: none;
        font-feature-settings: "liga" 0;
    }

    html {
        font-family: 'JetBrains Mono', monospace;
        scrollbar-width: thin;
        scrollbar-color: #84cc16 #1e293b;
        cursor: url(/images/cursor/cursor-standart.svg), auto;
    }

    a[href], button, input[type="checkbox"], input[type="image"], input[type="submit"], label[for], select, .pointer {
        cursor: url(/images/cursor/cursor-pointer.svg), auto;
    }
  }

 .bg-sci-fi {
    background-image: linear-gradient(to right bottom,rgba(5, 16, 11, 0.8),rgba(5, 16, 5, 0.8)),url(/images/site/19333449.jpg);
    background-position: top;
    background-size: contain; 
    background-blend-mode: color-dodge;
}

.project-img {
    transform: perspective(800px) rotateY(-25deg) scale(.8) rotateX(10deg);
    -webkit-transform: perspective(800px) rotateY(-25deg) scale(.8) rotateX(10deg);
    transition: all .6s ease;
    z-index: 40;
}

.project-img:hover {
    transform: rotateY(0deg) scale(0.95) rotateX(0deg);
}

.project-img-reversed {
    transform: perspective(800px) rotateY(25deg) scale(.8) rotateX(10deg);
    -webkit-transform: perspective(800px) rotateY(25deg) scale(.8) rotateX(10deg);
    transition: all .6s ease;
    z-index: 40;
}

.project-img-reversed:hover {
    transform: rotateY(0deg) scale(0.95) rotateX(0deg);
}

.move {
    transform: translateX(50px); 
    transition: all 2s;
}

.move {
    animation-duration: 3s;
    animation-name: moveRight;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.move-counter {
    animation-duration: 3s;
    animation-name: moveLeft;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes moveRight {
    from {
        transform: translateX(-100%); 
    }
  
    to {
        transform: translateX(100%); 
    }
  }

  @keyframes moveLeft {
    from {
        transform: translateX(100%); 
    }
  
    to {
        transform: translateX(-100%); 
    }
  }

@layer components {
    .h2 {
      @apply font-black uppercase text-5xl text-center mb-4;
    }
  }
