@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-variant-ligatures: none;
        font-feature-settings: "liga" 0;
    }

    html {
        font-family: 'JetBrains Mono', monospace;
        scrollbar-width: thin;
        cursor: url(/images/cursor/cursor-standart.svg), auto;
    }

    a[href], button, input[type="checkbox"], input[type="image"], input[type="submit"], label[for], select {
        cursor: url(/images/cursor/cursor-pointer.svg), auto;
    }
  }

 .bg-sci-fi {
    background-image: linear-gradient(to right bottom,rgba(5, 16, 11, 0.8),rgba(5, 16, 5, 0.8)),url(/images/site/19333449.jpg);
    background-position: top;
    background-size: contain; 
    background-blend-mode: color-dodge;
}

.project-img {
    transform: perspective(800px) rotateY(-25deg) scale(.8) rotateX(10deg);
    -webkit-transform: perspective(800px) rotateY(-25deg) scale(.8) rotateX(10deg);
    transition: all .6s ease;
    z-index: 100;
}

.project-img:hover {
    transform: rotateY(0deg) scale(1) rotateX(0deg);
}

.project-img-reversed {
    transform: perspective(800px) rotateY(25deg) scale(.8) rotateX(10deg);
    -webkit-transform: perspective(800px) rotateY(25deg) scale(.8) rotateX(10deg);
    transition: all .6s ease;
    z-index: 100;
}

.project-img-reversed:hover {
    transform: rotateY(0deg) scale(1) rotateX(0deg);
}

@layer components {
    .h2 {
      @apply font-black uppercase text-5xl text-center mb-4;
    }
  }
